.materialIconWrapper button{
    width: 76px;
    height: 38px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.materialSelectContainer{
    display: grid;
    grid-template-columns: 85% 15%;
}
.materialSelectWrapper{
    border: 1px solid #EAEBF2;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 40% 60%;
}
.materialSelect{
    background: #EEF2FE;
    color: #818183;
}
.materialResetBtn{
    padding: 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.materialGroupsWrap{
    color: #817F7F;
    font-size: 14px;
}
.customerImage{
    border-color: #d6d7f6;
    border-width: 6px;
}