.statusCardContainer {
    padding: 1.25rem 1rem;
    display: flex;
    gap: 16px;
  }
  
  .innerMainCard {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 220px !important;
    height: 185px;
    padding: 1rem;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
  }
  
  .mainCardNumb {
    font-size: 14px;
    color: #303030;
    font-weight: 500;
  }
  
  .mainCardTitle {
    color: #929292;
    font-size: 12px;
  }
  
  .cardTitle {
    font-weight: 300;
    font-size: 14px;
    color: #687779;
  }
  
  .cardCount {
    font-weight: 700;
    font-size: 18px;
    color: #303030;
  }
  